/* Note: 
    If primary or secondary are changed, 
    these changes will also need to be made 
    in mui-theme.ts
*/

$primary:#1A695D;
$secondary:#0d594e;
$darkest: #111;
$lightest: #fff;
$error: #e43804;
$success: #319c10;

